<p id="notice"><%= notice %></p>

<h1 class="text-center text-success">Posts</h1>

<table class="table table-dark table-hover">
  <thead>
    <tr class="table-active">
      <th>#</th>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to fa_icon('info-circle', text: "Show"), post, class: "btn btn-info btn-sm text-white" %></td>
        <td><%= link_to fa_icon('edit', text: "Edit"), edit_post_path(post), class: "btn btn-success btn-sm text-white" %></td>
        

        <%=  current_user.superadmin_role? %>
        <%=  current_user.supervisor_role? %>
        <%=  current_user.user_role? %>


        


        <% if current_user.superadmin_role? || current_user.supervisor_role?|| current_user.user_role?%>
        
        <td><%= link_to fa_icon('trash', text: "delete"), "javascript:void(0)", 'data-target': "#delete_post#{post.id}", 'data-toggle': "modal" , class: "btn btn-danger text-white" %></td>
        
        <% end %>
        <%# <td><%= link_to fa_icon('trash', text: "delete"), post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger text-white"  </td> %>

        <!-- start of delete modal -->
        <div class="modal fade" id="delete_post<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">

            <div class="modal-content">

              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body font-weight-bold">
                Are you sure you want to delete '<%= post.title %>' ?
                <hr>
                <%= link_to "Yes", post, method: :delete, class: "btn btn-outline-danger btn-sm"%>
                <%= link_to "No", "javascript:void(0)",'data-dismiss': "modal", class: "btn btn-outline-warning btn-sm" %>
              </div>
            </div>
          </div>
        </div>

        <!-- end of delete modal -->

      </tr>

    <% end %>
  </tbody>
</table>

<br>

<% if can? :manage, User %>

  <% if user_signed_in?%>
  <%= link_to fa_icon('plus', text: "New Post"), new_post_path, class: "btn btn-primary btn-sm text-white" %>
  <% end %>

<% end %>

